@model IEnumerable<Admin.Models.User>
@{
    ViewBag.Title = "ListUserPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>Danh sách người dùng</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/admin">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a>Account</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>ListUserPage</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-3">
        <br />
        <a class="btn btn-success " href="@Url.Action("CreateUser","User")"><i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">Thêm mới</span></a>
        <a class="btn btn-danger" href="#"><i class="fa fa-trash"></i>&nbsp;&nbsp;<span class="bold">Thùng rác(@ViewBag.demrac)</span></a>

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">

                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny">
                        <thead>
                            <tr>
                                <th data-toggle="true">STT</th>
                                <th>Tên người dùng</th>
                                <th>UserName</th>
                                <th>Email</th>
                                <th>Địa chỉ</th>
                                <th>Phone</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{var stt = 1;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@stt</td>

                                    <td>
                                        <a href="@Url.Action("UserDetail","User", new {Id = item.Id })">@item.FullName</a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("UserDetail","User", new {Id = item.UserName })">@item.UserName</a>
                                    </td>
                                    <td>

                                        @item.Email
                                    </td>
                                    <td>
                                        @item.Address
                                    </td>
                                    <td>
                                        @item.Phone
                                    </td>
                                    <td>
                                        @*<label class="switch">
                                                @if (item.StatusId == 1)
                                                {<input class="changeStatus" data-id="@item.Id" data-controller="User" type="checkbox" checked>}
                                                else
                                                {<input class="changeStatus" data-id="@item.Id" data-controller="User" type="checkbox">}
                                                <span class="slider round"></span>
                                            </label>*@
                                        <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Chỉnh sửa">
                                            <a href="@Url.Action("UserDetail", "User", new { id = item.Id })" class="text-white"><i class="fa fa-edit"></i></a>
                                        </button>
                                        <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Xóa">
                                            <a href="@Url.Action("DeleteUser", "User", new { id = item.Id })" class="text-white"><i class="fa fa-trash"></i></a>
                                        </button>
                                    </td>
                                </tr>
                                stt++;
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <ul class="pagination float-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>