@model IEnumerable<Admin.DTOs.ModulePermissionDTO>
@foreach (var item in Model)
{
    <li>
        <a href="@Url.Action("List","User")"><i class="fa fa-bars"></i> <span class="nav-label">@item.ModuleName.ToString()</span> <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="@Url.Action("List", item.Tag.ToString())">@item.ModuleName.ToString()</a>
            </li>
            @Html.Action("ChilPermissionMenu", "User", new { parentId = item.Id })
        </ul>
    </li>
}

