<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="~/AssetsStatic/admins/img/favicon-16x16.png">
    <title>Quản trị hệ thống: @ViewBag.Title</title>
    <link href="~/AssetsStatic/admin/status/css/style.css" rel="stylesheet" />
    <link href="~/AssetsStatic/admins/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/AssetsStatic/admin/status/css/sweetalert2.min.css" rel="stylesheet" />
    @*<link href="~/AssetsStatic/admin/status/css/toastr.min.css" rel="stylesheet" />*@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
          crossorigin="anonymous" />
    <link href="~/AssetsStatic/admins/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/AssetsStatic/admins/css/animate.css" rel="stylesheet" />
    <link href="~/AssetsStatic/admins/style.css" rel="stylesheet" />
    <link href="~/AssetsStatic/admin/js/toastr.min.css" rel="stylesheet" />
    <!-- FooTable -->
    @*<link href="~/AssetsStatic/admins/css/plugins/footable/footable.core.css" rel="stylesheet">*@
    <link href="~/Assets/css/index.css" rel="stylesheet" />
</head>

<body>
    <style>
        .navbar-top-links .dropdown-alerts {
            width: 230px;
        }
    </style>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">

                            <a href="#" style="text-align: center;">
                                <h1 class="block m-t-xs font-bold">Nguyễn Duy Đức</h1>
                                <span class="text-muted text-xs block">Quản trị viên</span>
                            </a>

                        </div>
                        <div class="logo-element">
                            ADMIN
                        </div>
                    </li>

                    <li class="">
                        <a href="@Url.Action("Index","Home")"><i class="fa fa-tachometer"></i> <span class="nav-label">Bảng điều khiển</span></a>

                    </li>
                    @Html.Action("PermissionMenu","User")
                </ul>

            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                        <form role="search" class="navbar-form-custom" action="#">
                            <div class="form-group">
                                <input type="text" placeholder="Nhập để tìm kiếm" class="form-control" name="top-search" id="top-search">
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span class="m-r-sm text-muted welcome-message">Chào mừng bạn đến với Quản trị Shop.</span>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-user"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-alerts">
                                <li>
                                    <a href="#" class="dropdown-item">
                                        <div>
                                            <i class="fa fa-user"></i> Xin chào, Nguyễn Duy Đức

                                        </div>
                                    </a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li>
                                    <a href="#" class="dropdown-item">
                                        <div>
                                            <i class="fa fa-user"></i> Tài khoản của tôi

                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="~/login" class="dropdown-item">
                                        <div>
                                            <i class="fa fa-sign-out"></i> Đăng xuất

                                        </div>
                                    </a>
                                </li>


                            </ul>
                        </li>
                    </ul>

                </nav>
            </div>
            <!-- renderbody -->
            @RenderBody()
            <!-- renderbody -->

            <div class="footer">
                <div class="float-right">
                    <strong>Version</strong> 3.0.4
                </div>
                <div>
                    <strong>Copyright</strong> &copy; Administrators
                </div>
            </div>
        </div>



    </div>
    <script src="~/AssetsStatic/admin/js/plugins/fullcalendar/moment.min.js"></script>

    <!-- Mainly scripts -->

    <script src="~/AssetsStatic/admin/js/jquery-3.1.1.min.js"></script>
    <script src="~/AssetsStatic/admin/js/popper.min.js"></script>
    <script src="~/AssetsStatic/admin/js/bootstrap.js"></script>
    <script src="~/AssetsStatic/admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/AssetsStatic/admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/AssetsStatic/admin/status/js/karma.laclac.min.js"></script>
    <script src="~/AssetsStatic/admin/status/js/sweetalert2.min.js"></script>
    @*<script src="~/AssetsStatic/admin/status/js/toastr.min.js"></script>*@
    <script src="~/AssetsStatic/admin/js/toastr.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/AssetsStatic/admin/js/inspinia.js"></script>
    <script src="~/AssetsStatic/admin/js/plugins/pace/pace.min.js"></script>

    <!-- FooTable -->
    @*<script src="~/AssetsStatic/admin/js/plugins/footable/footable.all.min.js"></script>*@
    <!-- jQuery UI -->
    <script src="~/AssetsStatic/admin/js/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- ck finder -->
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/ckfinder/ckfinder.js"></script>



    @RenderSection("jsfooter", required: false);
    <script>
        $(document).ready(function () {

            $('.footable').footable();
            $('.footable2').footable();

        });

    </script>

</body>
</html>
